{% extends 'base.html' %}
{% block title %}
    Flask avatar
{% endblock %}
{% block content %}
  <div class="container mt-5">
    <form action="{{ url_for('upload_avatar') }}" method="post" enctype="multipart/form-data">
      <div class="mb-3">
  <label for="avatar" class="form-label">upload avatar</label>
  <input class="form-control" type="file" id="avatar" name="avatar" accept=".jpg,.jpeg,.png,.gif">
</div>
        <input type="submit" value="Upload" class="btn btn-primary">
    </form>
    </div>
{% endblock %}